.backstage-switch {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 13px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  color: white;
  font-size: 13px;
  font-style: italic;
  background-color: gray;
  -webkit-border-radius: 50%;
}